<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>GIDClientID</key>
    <string>$(CLIENT_ID)</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$(URL_SCHEME)</string>
            </array>
        </dict>
    </array>

    <key>NSCameraUsageDescription</key><string>$(PRODUCT_NAME) camera description.</string>
    <key>NSPhotoLibraryUsageDescription</key><string>$(PRODUCT_NAME)photos description.</string>
</dict>
</plist>
